#bodybox{
  height: 120px;
  (min-width: 10px)
  width: 100px;
  margin: 0px;
  background: linear-gradient(to right, rgb(97, 67, 133), rgb(81, 99, 149));
  border: solid 1px black;
  -webkit-transform: skewX(15deg); //also use -moz, etc for other vendors
}

#navigation:target .nav-items {
 height: 15.8em;
}

.bg-1{
   background: linear-gradient(to right, rgb(97, 67, 133), rgb(81, 99, 149));
   height: 75px;
   padding-top: 0px;
   border: solid 1px black;
   -webkit-transform: skewX(-25deg); //also use -moz, etc for other vendors
}
.t-stroke {
  color: transparent;
  -moz-text-stroke-width: 2px;
  -webkit-text-stroke-width: 2px;
  -moz-text-stroke-color: #000000;
  -webkit-text-stroke-color: #ffffff;
}
.t-shadow {
  text-shadow: 17px 10px #8dffcd;
}
.pricing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto 3em;
}
 
.pricing__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    flex: 0 1 330px;
}
 
.pricing__feature-list {
    text-align: left;
}
 
.pricing__action {
    color: inherit;
    border: none;
    background: none;
}
 
.pricing__action:focus {
    outline: none;
}

.pricing--sonam .pricing__item {
    margin: 1.5em;
    padding: 2em;
    cursor: default;
    border-radius: 10px;
    background: #1F1F1F;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05), 0 15px 30px -10px rgba(0,0,0,0.3);
    transition: background 0.3s;
}
 
.pricing--sonam .pricing__item:hover {
    background: #141315;
}
 
.pricing--sonam .pricing__title {
    font-size: 2em;
    width: 100%;
    margin: 0 0 0.25em;
    padding: 0 0 0.5em;
    border-bottom: 3px solid rgb(27, 26, 28);
}
 
.pricing--sonam .pricing__price {
    color: #E06060;
    font-size: 1.75em;
    padding: 1em 0 0.75em;
}
 
.pricing--sonam .pricing__sentence {
    font-weight: bold;
}
 
.pricing--sonam .pricing__feature-list {
    margin: 0;
    padding: 1em 1.25em 2em;
}
 
.pricing--sonam .pricing__action {
    font-weight: bold;
    margin-top: auto;
    padding: 0.75em 2em;
    border-radius: 5px;
    background: #E06060;
    transition: background 0.3s;
}
 
.pricing--sonam .pricing__action:hover,
.pricing--sonam .pricing__action:focus {
    background: #BD3C3C;
}